<% if(mobileErrorMessage){ %>
  <div class="alert alert-danger"><%= mobileErrorMessage %></div>
<% } %>
<% if(emailErrorMessage){ %>
  <div class="alert alert-danger"><%= emailErrorMessage %></div>
<% } %>
<% if(passwordErrorMessage){ %>
  <div class="alert alert-danger"><%= passwordErrorMessage %></div>
<% } %>
<% if(confirmPasswordErrorMessage){ %>
  <div class="alert alert-danger"><%= confirmPasswordErrorMessage %></div>
<% } %>
<% if(userEmailErrorMessage){ %>
  <div class="alert alert-danger"><%= userEmailErrorMessage %></div>
<% } %>
<% if(errorMessage){ %>
  <div class="alert alert-danger"><%= errorMessage %></div>
<% } %>
